*.ap_
*.apk
*.class
*.dex
*.iml
*.local
*.local.*
*.swp
*.trace
*~
.DS_Store
.classpath
.gradle
.idea
.project
Thumbs.db
art/
bin/
build/
captures/
docs/
gen/
local.properties
crowdin.yaml
local
tmp/
secret/
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/release/
/.idea/
release/
